@model IEnumerable<Juliette.Examples.MortgageCalculator.Models.Option>

@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View1</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrdinalNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfMonths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interest)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrdinalNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfMonths)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlyPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interest)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
